html {
    background-color: #211919;
    color: cornsilk;
    text-align: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

a {
    font-size: 25px;
    font-style: normal;
    text-decoration: unset;
    color: darkgrey;
}

ul {
    list-style: none;
    list-style-position: unset;
}